### Pandas - Panel Data  ( rows and columns)

In [37]:
import pandas as pd
import numpy as np

#### Series and DataFrame

In [8]:
myexp = pd.Series([40,35,70,150,200,25])
myexp

0     40
1     35
2     70
3    150
4    200
5     25
dtype: int64

In [9]:
myexp[2]   # retrieve by Index

70

In [10]:
myexp.index = ['day1','day2','day3','day4','day5','day6']
print(myexp)

day1     40
day2     35
day3     70
day4    150
day5    200
day6     25
dtype: int64

In [11]:
myexp['day2'] #retrive by Label

35

In [12]:
myexp['day2':'day5']  # retrieve by slicing, range by label
# slicing by label both start and end pos are included

day2     35
day3     70
day4    150
day5    200
dtype: int64

In [13]:
myexp[1:4]  # retrive data by index slicing

day2     35
day3     70
day4    150
dtype: int64

In [14]:
myexp[['day5','day3','day6']] # retrieve by list

day5    200
day3     70
day6     25
dtype: int64

### Scalar filtering - retrieve by condition

In [15]:
myexp[(myexp>50)]

day3     70
day4    150
day5    200
dtype: int64

In [16]:
myexp[(myexp>50) & (myexp<100)] # retrieve by condition

day3    70
dtype: int64

# DataFrame

In [17]:
data = pd.read_csv('mtcars.csv')
type(data)

pandas.core.frame.DataFrame

In [20]:
data.shape # tuple of rows and columns

(32, 12)

In [21]:
data.head(5)

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1

 CSV -> Comma Seperated Value

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
car_model    32 non-null object
mpg          32 non-null float64
cyl          32 non-null int64
disp         32 non-null float64
hp           32 non-null int64
drat         32 non-null float64
wt           32 non-null float64
qsec         32 non-null float64
vs           32 non-null int64
am           32 non-null int64
gear         32 non-null int64
carb         32 non-null int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB

In [23]:
data.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000
mean,19.875000,6.187500,227.925000,145.781250,3.553125,3.200375,17.821563,0.468750,0.437500,3.656250,2.718750
std,5.989184,1.712148,121.708557,67.540542,0.566628,0.992515,1.606035,0.507007,0.504016,0.745281,1.689328
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.000000
25%,15.425000,4.000000,120.250000,103.000000,3.070000,2.428750,16.892500,0.000000,0.000000,3.000000,1.000000
50%,18.650000,6.000000,225.000000,118.000000,3.660000,3.437500,17.900000,0.000000,0.000000,3.500000,2.000000
75%,21.825000,8.000000,307.500000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.000000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,20.220000,1.000000,1.000000,5.000000,8.000000

data_1 = pd.DataFrame({'One':[4,6,8,10]},columns=['One'])
data_1.describe()
percentile : i + (j - i) * fraction, where fraction is the fractional part of the index surrounded by i and j
res_25 = 4+(10-4)*percentile = 4+(10-4)*25% = 5.5
describe values are for continuous and discrete variables
for categorical variables only mean makes sense.

## Selecting data from DataFrame

In [24]:
data.head()

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1

In [25]:
data.loc[2,'hp' ]

93

In [26]:
data.loc[2:4,'mpg':'hp' ] # loc is for labels

    mpg  cyl   disp   hp
2  22.8    4  108.0   93
3  21.4    6  258.0  110
4  22.8    4  108.0   93

In [27]:
data.iloc[2:4,2:5]  # iloc for index

   cyl   disp   hp
2    4  108.0   93
3    6  258.0  110

In [28]:
data.head()

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1

In [29]:
data.loc[2:4,['car_model','mpg','hp','am']]

        car_model   mpg   hp  am
2      Datsun 710  22.8   93   1
3  Hornet 4 Drive  21.4  110   0
4      Datsun 710  22.8   93   1

In [30]:
data.loc[data.mpg>25,['car_model','mpg','hp','am']]

         car_model   mpg   hp  am
17        Fiat 128  32.4   66   1
18     Honda Civic  30.4   52   1
19  Toyota Corolla  33.9   65   1
25       Fiat X1-9  27.3   66   1
26   Porsche 914-2  26.0   91   1
27    Lotus Europa  30.4  113   1

### find hp > 110

In [31]:
data.loc[data.hp>110,:].shape

(17, 12)

In [34]:
data.loc[data.hp>240,:]

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
6,Duster 360,14.3,8,360.0,245,3.21,3.57,15.84,0,0,3,4
23,Camaro Z28,13.3,8,350.0,245,3.73,3.84,15.41,0,0,3,4
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.17,14.50,0,1,5,4
30,Maserati Bora,15.0,8,301.0,335,3.54,3.57,14.60,0,1,5,8

In [35]:
# hp > 110, mpg >30
data.loc[(data.hp>110) & (data.mpg>30),:]

       car_model   mpg  cyl  disp   hp  drat     wt  qsec  vs  am  gear  carb
27  Lotus Europa  30.4    4  95.1  113  3.77  1.513  16.9   1   1     5     2

Create new variable -> efficient
mpg > 20 is efficient
efficient : 0 -> non-effienct 1-> efficient

In [36]:
data.loc[data.mpg>20,'efficient'] = 1
data.loc[data.mpg<=20,'efficient'] = 0
data.efficient = data.efficient.astype(int)
data.head(10)

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,efficient
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,1
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4,1
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,1
4,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1,1
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1,0
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4,0
7,Valiant 2,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1,0
8,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1,0
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4,0